.App {
  text-align: center;
}

img {
  width: 400px; height: 600px;
  /* display: block; */
 
}

.Container {
 /* display: flex;
  flex-wrap: wrap;8*/
  display: grid;
  background-color: black;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  /*grid-template-columns: 1fr 1fr 1fr;*/
  
}

.item {
  /*flex: 1;
  flex-basis: 120px;*/
  position: relative;
  overflow: hidden;
  
  /* border: 1px solid blue; */
 
}

.overlay{
 
  position: absolute;
  bottom: -100px;
  left: 25px;
  width: 400px;
  color:white;
  background-color: black;
  /* background-color: rgba(0, 217, 255,0.6); */
  /* opacity: 0.6; */
}

.item:hover .overlay{
  opacity: .6;
  bottom: 0;
}

