.App {
  text-align: center;
}

img {
  width:100%;
}

.Container {
  display: flex;
}

.item{
  flex: 1;
  border: white;
  position: relative;
  overflow: hidden;
  border: 1px solid blue;
}

.overlay{
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: yellow;
  opacity: 0.6;
}

.item:hover .overlay{
  opacity: .6;
  bottom: 0;
}

@media only nscreen and (max-width: 600px) {
  .Container{
    flex-direction: column
  };
}